Source: femboy
Section: x11
Priority: optional
Maintainer: Anise Star <anise@fivnex.co>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (=11), binutils, libgtk2.0-dev, libx11-dev, libnotify-dev, fpc (>=3.0.4), lazarus (>=2.0.6)
Standards-Version: 4.5.0
Vcs-Browser: https://github.com/anisestar/femboy
Vcs-Git: https://github.com/anisestar/femboy.git
Homepage: https://femboy.anisestar.github.io

Package: femboy
Provides: femboy
Architecture: any
Multi-Arch: foreign
Depends: libgtk2.0-0 (>= 2.6), ${shlibs:Depends}, libcanberra-gtk-module, wmctrl, ${misc:Depends}
Suggests: libayatana-appindicator3-1
Description: Femboy Notes, it's just tomboy but different B)s
